<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPacientes" />
                <binding name="BasicHttpBinding_ICitas" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:20001/SOAPServices/Pacientes.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPacientes"
                contract="PacienteWS.IPacientes" name="BasicHttpBinding_IPacientes" />
            <endpoint address="http://localhost:20001/SOAPServices/Citas.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICitas"
                contract="CitaWS.ICitas" name="BasicHttpBinding_ICitas" />
        </client>
    </system.serviceModel>
</configuration>