<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPacientes" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:20001/SOAPServices/Pacientes.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPacientes"
                contract="PacienteWS.IPacientes" name="BasicHttpBinding_IPacientes" />
        </client>
    </system.serviceModel>
</configuration>