<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPacientes" />
                <binding name="BasicHttpBinding_IUtilitarios" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:11056/Pacientes.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPacientes" contract="PacienteWS.IPacientes"
                name="BasicHttpBinding_IPacientes" />
            <endpoint address="http://localhost:11056/Pacientes.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUtilitarios" contract="PacienteWS.IUtilitarios"
                name="BasicHttpBinding_IUtilitarios" />
        </client>
    </system.serviceModel>
</configuration>