/* ---------------------------------------------------------------------------

Hoja de estilos para DENTAL | REPORTES					
	
--------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------

Hoja de estilos para DENTAL | REPORTES					
	
--------------------------------------------------------------------------- */

/* RESET! */

html, body, div, span, applet, object, iframe, header, section, article, footer, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, 
code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, 
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, 
legend, table, caption, tbody, tfoot, thead, tr, th, td
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: Verdana;
}
input, textarea
{
    border: 1px solid #C0C0C0;
    resize: none;
    font-family: Verdana;
}
input#inpExcel
{
    border: none !important;
}

header, section, article, footer
{
    display: block;
}
div.spacebarra
{
    height: 15px;
}

html
{
    height: 100%;
}


/* --------------------------------------------------------------------------
	=global
--------------------------------------------------------------------------- */
body
{
    color: #444751;
    font: 12px 'adelle-1' , 'adelle-2' , Georgia, Times, serif;
    font-style: normal;
    font-weight: 300;
    position:relative;
}

body input.boxfiltro
{
    border: 1px solid #C0C0C0;
}
body input.boxfiltro.error
{
    border: 1px solid red;
}
body textarea.boxfiltro.error
{
    border: 1px solid red;
}
body input.error, body textarea.error
{
    border: 1px solid red;
}

.tab-form
{
    border: non e0px red;
}
.tab-form td
{
    text-align: left;
    padding: 5px;
    vertical-align: top;
}
.tab-form td div
{
    display: block;
    height: auto;
    position: relative;
}
.tab-form td div div.charleft
{
    display: block;
    height: auto;
    border: 0px solid red;
    font-size: 11px;
    text-align: right;
    position: absolute;
    bottom: 2px;
    right: 10px;
    width: 100px !important;
}
.tab-form td.label-form
{
    text-align: right;
    padding: 10px 10px 0 0;
}
.tab-form td.label-form.n
{
    font-weight: bold;
    text-align: center;
}
.tab-form td div div.div-btn-form
{
    display: inline;
    float: right;
    border: solid 0px red;
}

/*TABLA DE FILTROS*/
.tab-fil
{
    border: non e0px red;
}
.tab-fil td
{
    text-align: left;
    padding: 0 5px 5px 5px;
    vertical-align: middle;
}

.tab-fil td .boxfecha
{
    width: 90px;
}
.tab-fil td .boxpais
{
    width: 90px;
}

input.descargar-excel
{
    border: 0px none #C0C0C0;
    background-color: transparent;
    padding: 0 10px 0 5px;
    color: #fff;
    cursor: pointer; /*font-weight:bold;*/
}
input.descargar-excel:hover
{
    text-decoration: underline;
}
/* #region Procesando
    filter: alpha(opacity=30);
    opacity: 0.3;
 */
#procesando
{
    padding-top: 0px;
    display: none;
    background-color: black;
    z-index: 1;
    filter: alpha(opacity=49);
    -moz-opacity: .49;
    opacity: .49;
}

.mt .ui-dialog, .mt.ui-dialog
{
    padding: 0.0em;
    -moz-border-radius: 0px;
}
.mt.ui-dialog .ui-dialog-content
{
    padding: 0.0em;
    background-color: #F8F8F8;
}
/* #endregion*/

#divMaster
{
    position: absolute;
    top: 0px;
    left: 50%;
    width: 980px;
    height: 100%;
    margin-left: -490px;
}

#divMasterHeader
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px; /*100px*/
    border-top: 10px solid #444751;
    border-bottom: 1px solid #E0E0E0;
}

#imgMasterLogo
{
    position: relative;
    top: 10px;
    left: 0px;
    width: 200px;
    height: 62px;
    border: none;
}

#divMasterMenu
{
    position: relative;
    top: 0px;
    left: 0px;
    height: 35px; /*45px*/
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
}

#divMenu
{
    position: relative;
    text-align: left;
}

#divMenuLineal
{
    position: relative;
    text-align: left;
    top: 18px;
}

#divLogout
{
    position: absolute;
    top: 18px;
    left: 50%;
    margin-left: 455px;
    z-index: 1000;
}

#divMasterTitle
{
    position: relative;
    top: 26px;
    height: 20px;
    width: 100%;
    border-top: 1px solid #444751;
    text-align: left;
}

#divMasterBody
{
    position: relative;
    top: 40px;
    border-bottom: 0px solid #E0E0E0;
    padding: 5px 0px 5px 0px;
}

#divMasterFooter
{
    position: relative;
    width: 100%;
    background-color: #444751;
    color: #a2a3a8;
    margin: 0 auto;
    padding: 18px 0px 80px 0px;
    text-align: left;
    text-indent: 25px;
    font: 13px "adelle-1" , "adelle-2" , Georgia, Times, serif;
}

h1
{
    font: 20px 'myriad-pro-1' , 'myriad-pro-2' , Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}


a:link, a:visited
{
    color: #a1a3a8;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

a:hover
{
    color: #444751;
    text-decoration: none;
}

h1
{
    border-bottom: 1px solid #e0e0e0;
    border-top: 5px solid #444751;
    font: 20px 'myriad-pro-1' , 'myriad-pro-2' , Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 15px 0 15px 0px;
    text-transform: uppercase;
}

h1 span
{
    color: #a1a3a8;
}

h2
{
    font: 13px/13px 'myriad-pro-1' , 'myriad-pro-2' , Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 24px;
    text-transform: uppercase;
}

h3
{
    border-bottom: 1px solid #e0e0e0;
    border-top: 5px solid #444751;
    font: 13px/24px 'adelle-1' , 'adelle-2' , Georgia, Times, serif;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 10px;
    padding: 10px 0 5px 0px;
    text-align: right;
}

section header p
{
    border-bottom: 1px solid #e0e0e0;
    font-size: 13px;
    line-height: 20px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 15px;
    padding: 0 0 10px 0;
}
/* --------------------------------------------------------------------------
=branding
--------------------------------------------------------------------------- */

#branding
{
    border-top: 10px solid #444751;
    margin: 0 auto;
    padding: 10px 0 0 0;
    text-align: left;
    width: 980px;
}

#branding img
{
    margin-bottom: 10px;
}


#branding h1
{
    border-top: 1px solid #e0e0e0;
    border-bottom-width: 0;
    font: 23px/33px "adelle-1" , "adelle-2" , Georgia, Times, serif;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 22px;
    padding: 24px 0 0 0;
    text-align: left;
    text-transform: none;
}

/* --------------------------------------------------------------------------
	=menu
--------------------------------------------------------------------------- */

#menu
{
    margin: 0 auto;
    text-align: left;
    padding-bottom: 10px;
    width: 980px;
}

#menu:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#menu h1
{
    background: url(../img/icon-services.png) no-repeat 0 50%;
}


ul
{
    position: relative;
    top: 0px;
    font: 13px/24px 'adelle-1' , 'adelle-2' , Georgia, Times, serif;
    font-style: normal;
    font-weight: 300;
}



ul#topnav
{
    margin: 0;
    padding: 5px 0 0px 5px;
    float: left;
    width: 100%;
    list-style: none;
    border: solid 0px red;
}
ul#topnav li
{
    float: left;
    margin: 0;
    padding: 0px 10px 3px 10px;
    position: relative;
    line-height: 27px;
}
ul#topnav li:hover
{
    background-color: #999999;
    border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -webkit-bordertop-left--radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
}
ul#topnav li:hover a
{
    color: #fff;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
ul#topnav li a
{
    float: left;
    text-decoration: none;
}
ul#topnav li a:link, a:visited
{
    /*color: #a1a3a8;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;*/
}
ul#topnav li a:hover
{
    color: #fff;
    text-decoration: none;
}
ul#topnav li .sub
{
   position: absolute;
    top: 30px;
    left: 0px;
    background-color: #999999; /*#E0E0E0*/
    padding: 10px 15px 10px 5px;
    float: left;
    -moz-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    display: none;
    z-index: 9999;
}
ul#topnav li .row
{
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
ul#topnav li .sub ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 150px;
    float: left;
}
ul#topnav .sub ul li
{
    width: 100%;
    text-decoration: none;
    color: #000000;
    padding: 0px 5px 0px 5px;
    line-height: 18px;
}
ul#topnav .sub ul li:hover > a.item-link
{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #808080;
}
ul#topnav .sub ul li h2
{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 10px;
}
ul#topnav .sub ul li h2 a
{
    padding: 2px 0;
    padding-left: 10px;
    background-image: none;
    color: #FFFFFF; /*#F1F3F2*/
    cursor: default;
}
ul#topnav .sub ul li a
{
    float: none;
    text-indent: 0; /*--Reset text indent--*/
    height: auto;
    text-decoration: none;
    padding: 3px 0px 3px 15px;
    display: block;
    text-decoration: none;
    color: #CCCCCC; /*#86837E*/
}

.mt .ui-dialog, .mt.ui-dialog
{
    padding: 0.0em;
    -moz-border-radius: 3px;
}
.mt.ui-dialog .ui-dialog-content
{
    padding: 0.0em;
    background-color: #F8F8F8;
}

#divFormContenedor
{
    position: relative;
    width: 100%;
}

#divFormReportCabecera
{
    position: relative;
    height: 77px;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
}
#divFormReportCabecera table
{
    font: 15px 'adelle-1' , 'adelle-2' , Georgia, Times, serif;
    font-style: normal;
    font-weight: 600;
    height: 100%;
    vertical-align: middle;
}
#divFormReportCabecera table td
{
    vertical-align: middle;
}
#tblFormReportCabeceraTotal
{
    text-transform: uppercase;
    padding: 0px 5px 0px 0px;
}
.tdFormReportLinkDia
{
    width: 30px;
    text-align: right;
}

.tdFormReportLinkDia
{
    width: 30px;
    text-align: right;
}
.lnkDia:link, .lnkDia:visited
{
    color: #a1a3a8;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.lnkDia:hover
{
    color: #444751;
    text-decoration: none;
}

#divFormReportGrafico
{
    position: relative;
    top: 5px;
}
#divGrafico
{
    width: 100%;
    height: 260px;
}

#divFormReportDatos
{
    position: relative;
    top: 10px;
    border-top: 5px solid #444751;
}

#divFormReportTitle
{
    position: relative;
    top: 10px;
    height: 30px;
    border-bottom: 1px solid #E0E0E0;
}
#divFormReportDatosToolBar
{
    position: relative;
    top: 10px;
    height: 30px;
    border-bottom: 1px solid #E0E0E0;
}
.clsExportar
{
    font: 15px 'adelle-1' , 'adelle-2' , Georgia, Times, serif;
    background-color: #E0E0E0;
}
#divFormReportDatosResultado
{
    position: relative;
    top: 30px;
}


#divSpace
{
    height: 25px;
}

/* --------------------------------------------------------------------------
	=destacado
--------------------------------------------------------------------------- */

#destacado
{
    margin: 0 auto;
    text-align: left;
    padding-bottom: 10px;
    width: 980px;
}

#destacado:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#destacado h1
{
    border-bottom: 1px solid #e0e0e0;
    border-top: 5px solid #444751;
    font: 33 'myriad-pro-1' , 'myriad-pro-2' , Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 15px 0 15px 0px;
    text-transform: uppercase;
}

#destacado header ul li
{
    display: inline;
}

/* --------------------------------------------------------------------------
	=menu3
--------------------------------------------------------------------------- */

#menu3
{
    border-bottom: 1px solid #e0e0e0;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 20px;
}

#resumen
{
    float: left;
    font-size: 15px;
    text-transform: uppercase;
}

#resumenFiltro
{
    float: left;
    font-size: 13px;
    vertical-align: top;
    position: absolute;
    top: 25px;
}

#menu_dias
{
    float: right;
    vertical-align: top;
}

#menu_opciones
{
    float: right;
    vertical-align: top;
}

#menudetalle
{
    border-bottom: 1px solid #e0e0e0;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 20px;
}
#submenu_detalle
{
    float: right;
    vertical-align: top;
}

#subtitulodetalle
{
    float: left;
    font-size: 15px;
    text-transform: uppercase;
}

#menusubdetalle
{
    border-bottom: 1px solid #e0e0e0;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 20px;
}
#submenu_subdetalle
{
    float: right;
    vertical-align: top;
}

#subtitulosubdetalle
{
    float: left;
    font-size: 15px;
    text-transform: uppercase;
}

#menusubdetalle2
{
    border-bottom: 1px solid #e0e0e0;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 20px;
}
#submenu_subdetalle2
{
    float: right;
    vertical-align: top;
}

#subtitulosubdetalle2
{
    float: left;
    font-size: 15px;
    text-transform: uppercase;
}
/* --------------------------------------------------------------------------
	=footer
--------------------------------------------------------------------------- */

footer
{
    background-color: #444751;
    color: #a2a3a8;
    margin: 0 auto;
    padding: 25px 35px 90px 35px;
    position: relative;
    text-align: left;
    width: 915px;
}

footer p.location
{
    color: #fff;
    font-size: 19px;
    padding-top: 7px;
}


#caja
{
    width: 100%;
    display: none;
    padding: 2px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}


#cajadetalle
{
    width: 100%;
    display: none;
    padding: 2px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}


#divDerecha
{
    position: absolute;
    width: 500px;
    top: 22px;
    left: 57%;
    margin-left: 15px;
}


#divDerechaGenerico
{
    position: absolute;
    width: 970px;
    left: 1%;
    top: 22px;
    margin-left: 15px;
}

#divDerechaFiltros
{
    position: absolute;
    width: 670px;
    top: 22px;
    left: 0%;
    margin-left: 15px;
}

#resumenDetalleFiltro
{
    border-bottom: 1px solid #e0e0e0;
    margin-top: -13px;
    margin-bottom: 18px;
    position: absolute;
}



.ui-jqgrid-title a.descargar-excel
{
    border: 0px none #C0C0C0;
    background-color: transparent;
    padding: 0 10px 0 5px;
    color: #fff;
    cursor: pointer;
    font-weight: normal !important;
}
.ui-jqgrid-title a.descargar-excel:hover
{
    text-decoration: underline;
}

/* --------------------------------------------------------------------------
	=Mensajes de Mantenimiento
--------------------------------------------------------------------------- */

.msjmantenimiento
{
    padding: 5px 5px 5px 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: red;
    color: #fff;
    margin-top: 5px;
    font-size: 10px;
    display: none;
    height: auto;
}
.msjmantenimiento a
{
    display: block;
    width: 10px;
    height: 10px;
    text-transform: uppercase;
    cursor: pointer;
    float: right;
}
.msjmantenimiento.top
{
    margin:0px 0px 10px 0px !important;
     font-size: 11px;
     font-weight:bold;
}
